<p>系统配置 > 登录日志</p>
<div class="p-table">
    <p-table [columns]="loginLogTitle" [value]="loginLogValue" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width:8%">序号</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>{{rowData.number}}</td>
            <td *ngFor="let col of columns" class="area-table-td">
                    <span *ngIf = "col.field !== 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <span *ngIf = "col.field == 'createTime'" > {{rowData[col.field]*1000  | date:'yyyy-MM-dd HH:mm'}}</span>
            </td>
            
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
            <div style="text-align: right;">
               共{{loginLogTotal}}条
            </div>
    </ng-template>

    </p-table>
    <p-paginator [hidden]="!loginLogTotal" [rows]="LIMIT_LOGIN" [totalRecords]="loginLogTotal" [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="pageChange($event)"></p-paginator>
</div>
<ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '16px' }"></ngx-loading>