<p>系统配置 > 登录日志</p>
<div class="p-table">
    <p-table [columns]="loginLogTitle" [value]="loginLogValue"  [scrollable]="true" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>

            <td *ngFor="let col of columns" class="area-table-td">
                    <span *ngIf = "col.field !== 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <span *ngIf = "col.field == 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]  | date:'yy-MM-dd HH:mm'}}</span>
            </td>
            
        </tr>
    </ng-template>

    

    </p-table>
    <p-paginator [hidden]="!loginLogTotal" [rows]="LIMIT_LOGIN" [totalRecords]="loginLogTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event)"></p-paginator>
</div>
