<div class="logincontent">
  <form [formGroup]="formMoudel">
    <div class="loginBox">
      <p class="loginsize">矿业局管理系统</p>
      <div class="Boxcontent">
        <div style="margin: auto;">
          <p class="title-login">注册</p>
          <div class="usernameBox">
              <img src="./assets/img/yonghu.png" style="width:20px;height:20px;margin: 0px 10px 0 10px;" />
              <input class="usernameBox_iput" [(ngModel)]="uid" type="text" formControlName="username"
                placeholder="账户名称" (keyup.enter)="keyUpSearch()" />
            </div>
          <div class="usernameBox">
            <img src="./assets/img/yonghu.png" style="width:20px;height:20px;margin: 0px 10px 0 10px;" />
            <input class="usernameBox_iput" [(ngModel)]="username" type="text" formControlName="username"
              placeholder="用户名" (keyup.enter)="keyUpSearch()" />
          </div>

          <div class="passwordBox">
            <img src="./assets/img/mima.png" style="width:20px;height:20px;margin: 0px 10px 0 10px;" />
            <input [(ngModel)]="password" class="passwordBox_iput" type="password" formControlName="password"
              placeholder="密码" (keyup.enter)="keyUpSearch()" />
          </div>

          <button class="submitBox" pButton type="button" (click)="onSubmit('register')">
              注册
            </button>
          <button class="submitBox" pButton type="button" (click)="onSubmit('login')">
            登录
          </button>
          
        </div>
      </div>
    </div>
  </form>
</div>
<!-- 警示信息提示 -->
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc" baseZIndex=9999></p-toast>