<div>
    <span>探矿权 > 探矿权项目信息</span>
</div>
<div [hidden]="explorationInfoTableDisplay">
  <div class="ui-g-12 ui-md-4">
     <!--  <div class="ui-inputgroup">
          <input class="form-control" type="text" pInputText placeholder="输入要搜索的项目名称">   
          <button pButton type="button" label="搜索"></button>       
      </div> -->
      <button pButton type="button" label="新增" (click)="setExplorationt('add')"></button>
  </div>
  <div style="clear: both;" class="p-table">
      <p-table [columns]="explorationInfoTitle" [value]="explorationInfoValue"  [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="goDetails(rowData)">详情</span>
                    <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('delete',rowData)">删除</span>
                </td>
            </tr>
        </ng-template>
      </p-table>
      <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'project')"></p-paginator>
  </div>
</div>

<div [hidden]="!explorationInfoTableDisplay">
    <p-tabMenu [model]="explorationItems" [activeItem]="explorationItems[0]"  (click)="menuClick($event)"></p-tabMenu>

    <!-- 项目详情 -->
    <div [hidden]="!projectDetailDisplay" style="border: 1px solid #66afe9;background: radial-gradient(#49779ff5 100%, #f2f1ed 20%) !important;padding: 10px;">
          
        <div class="p-table">
            <table  class="table table-bordered" style=" color: #fff;">
                <tbody>
                    <tr>
                        <td>项目名称</td>
                        <td>{{explorationProject.projectName}}</td>
                    </tr>
                    <tr>
                        <td>探矿权首立时间</td>
                        <td>{{explorationProject.explorationStartTime}}</td>
                    </tr>
                    <tr>
                        <td>区域地质背景</td>
                        <td>{{explorationProject.areaGeologicBackground}}</td>
                    </tr>
                    <tr>
                        <td>地球物理及地球化学特征</td>
                        <td>{{explorationProject.geophysicalGeochemical}}</td>
                    </tr>
                    <tr>
                        <td>矿区地质背景:地层</td>
                        <td>{{explorationProject.mineralGeologicalStratum}}</td>
                    </tr>
                    <tr>
                        <td>矿区地质背景:构造</td>
                        <td>{{explorationProject.mineralGeologicalStructure}}</td>
                    </tr>
                    <tr>
                        <td>矿区地质背景:岩浆层</td>
                        <td>{{explorationProject.mineralGeologicalMagmatite}}</td>
                    </tr>
                    <tr>
                        <td>成矿带归属</td>
                        <td>{{explorationProject.mineralBeltOwner}}</td>
                    </tr>
                    <tr>
                        <td>成矿地质背景</td>
                        <td>{{explorationProject.mineralBeltGeologic}}</td>
                    </tr>
                    <tr>
                        <td>围岩及蚀变</td>
                        <td>{{explorationProject.rockAlteration}}</td>
                    </tr>
                    <tr>
                        <td>矿（化）体特征</td>
                        <td>{{explorationProject.mineralCharacteristics}}</td>
                    </tr>
                    <tr>
                        <td>主要成果</td>
                        <td>{{explorationProject.majorAchievement}}</td>
                    </tr>
                    <tr>
                        <td>初步认识</td>
                        <td>{{explorationProject.preliminaryUnderstanding}}</td>
                    </tr>
                    <tr>
                        <td>存在的问题及下一步工作建议</td>
                        <td>{{explorationProject.remarks}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" pButton (click)="modifyProject()" label="编辑"></button>
            <button style="margin-left:20px" type="button" pButton  (click)="explorationInfoTableDisplay=false" label="返回" class="ui-button-secondary"></button>
        </div>
    </div>

    <!--  勘查详情-->
    <div style="clear: both;" class="p-table" [hidden]="!stageDetailDisplay">
        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="新增" (click)="setExplorationt('addStage')"></button>
        </div>
        <div style="clear:both">
            <p-table [columns]="explorationDetailTitle" [value]="explorationDetailValue" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                        <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('modifyStage',rowData)">修改</span>
                        <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('deleteStage',rowData)">删除</span>
                    </td>
                </tr>
            </ng-template>
            </p-table>
            <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'stage')"></p-paginator>
        </div>
    </div>

    <!-- 矿权报告 -->
    <div  style="clear: both;" class="p-table" [hidden]="!reportDetailDisplay">
        <div [hidden]="reportFileDisplay">
            <div class="ui-g-12 ui-md-4">
                <button pButton type="button" label="新增" (click)="setExplorationt('addReport')"></button>
            </div>
            <div style="clear:both">
                <p-table [columns]="reportClassifyTitle" [value]="reportClassifyValue" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                            <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('modifyReport',rowData)">修改</span>
                            <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('viewReport',rowData)">查看文件</span>
                            <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('deleteReport',rowData)">删除</span>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
                <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'report')"></p-paginator>
            </div>
        </div>
        <div [hidden]="!reportFileDisplay">
                <button  pButton type="button" label="返回列表" (click)="reportFileDisplay = false"></button>
                <div>
                    <img src="./assets/img/pdf.jpg" style="height: 100px; width: 100px;">
                    <div>
                        <button  pButton type="button" label="查看" (click)="lookPDF()"></button>
                        <button  pButton type="button" label="下载" ></button>
                    </div> 
                </div>
                <button pButton type="button" (click)="excelChange()" label="查看Excel"></button>

                <p-sidebar [(visible)]="pdfDisplay" [fullScreen]="true" [baseZIndex]="10000">
                    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
                    <div id="example-pdf">
            
                    </div>
                    <div  id="result" style="width: 100em;overflow: auto;height: 40em;"></div>
                   
                    <button (click)="btn_export()">Export!</button>
                    <button pButton type="button" (click)="pdfDisplay = false" label="返回" ></button>
                </p-sidebar>
        </div>
    </div>

</div>

<div class="dialog-class textarea-style">
    <!-- 探矿权项目增加、修改弹出框 -->
    <p-dialog header="新增探矿权项目" [(visible)]="explorationtDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
            <form>
                <div class="form-group has-feedback">
                    <label class="control-label">项目名称</label>
                    <input  type="text"   [(ngModel)]="explorationProject.projectName" name="projectName"  class="form-control">
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">探矿权首立时间</label>
                    <div>
                        <p-calendar [showIcon]="true" [(ngModel)]="explorationStartTime" name="explorationStartTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>    
                </div>
                <div class="form-group has-feedback" [hidden]="modifyExploration">
                    <label class="control-label">探矿权范围</label>
                    <input type="text" name="explorationArea" class="form-control" [(ngModel)]="explorationProject.explorationArea">
                </div>
                <div class="form-group has-feedback" [hidden]="modifyExploration">
                    <label class="control-label">采矿权首立时间</label>
                    <div>
                        <p-calendar [showIcon]="true" [(ngModel)]="miningStartTime" name="miningStartTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>   
                </div>
                <div class="form-group has-feedback" [hidden]="modifyExploration">
                    <label class="control-label">采矿权范围</label>
                    <input type="text" name="miningArea" class="form-control" [(ngModel)]="explorationProject.miningArea" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group has-feedback"  [hidden]="modifyExploration">
                    <label class="control-label">勘查阶段/报告成果</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.investigationFinalStage" name="investigationFinalStage"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">区域地质背景</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.areaGeologicBackground" name="areaGeologicBackground"></textarea>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">地球物理及地球化学特性</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.geophysicalGeochemical" name="geophysicalGeochemical"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">矿区地质背景:地层</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.mineralGeologicalStratum" name="mineralGeologicalStratum"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">矿区地质背景:构造</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.mineralGeologicalStructure" name="mineralGeologicalStructure"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">矿区地质背景:岩浆岩</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.mineralGeologicalMagmatite" name="mineralGeologicalMagmatite"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">成矿带归属</label>
                    <input type="text" name="uri" class="form-control" [(ngModel)]="explorationProject.mineralBeltOwner" name="mineralBeltOwner">
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">成矿带地质背景</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.mineralBeltGeologic" name="mineralBeltGeologic"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">围岩及蚀变</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.rockAlteration" name="rockAlteration"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">矿(化)体特征</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.mineralCharacteristics" name="mineralCharacteristics"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">主要成果</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.majorAchievement" name="majorAchievement"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">初步认识</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.preliminaryUnderstanding" name="preliminaryUnderstanding"></textarea>
                    </div>    
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">存在的问题以及下一步工作</label>
                    <div>
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationProject.remarks" name="remarks"></textarea>
                    </div>    
                </div>
            </form>
            <p-footer>
                <button type="button" pButton (click)="saveExplorationProject('save')" label="保存"></button>
                <button type="button" pButton icon="pi pi-close" (click)="saveExplorationProject('cancel')" label="取消" class="ui-button-secondary"></button>
            </p-footer>
    </p-dialog>

    <!-- 勘查阶段弹出框 -->
    <p-dialog header="{{explorationTitle}}" [(visible)]="stageDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
        <form>
            <div class="form-group has-feedback">
                <label class="control-label">矿权人</label>
                <div class="search">
                    <p-dropdown [options]="mineralOwner" name="ownerId" [(ngModel)]="explorationStage.ownerId" placeholder="请选择一个矿权人" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">开始时间</label>
                <div>
                    <p-calendar [showIcon]="true" [(ngModel)]="stageStartTime" name="investigationStartTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">结束时间</label>
                <div>
                    <p-calendar [showIcon]="true" [(ngModel)]="stageEndTime" name="investigationEndTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿权范围</label>
                <div>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationStage.projectArea" name="projectArea"></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">勘查单位</label>
                <div>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationStage.investigationOrganization" name="investigationOrganization"></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">类别</label>
                <div>
                    <input type="text" name="investigationCategory" class="form-control" [(ngModel)]="explorationStage.investigationCategory">
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">面积</label>
                <div>
                    <input type="text" name="investigationArea" class="form-control" [(ngModel)]="explorationStage.investigationArea">
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">勘查矿种</label>
                <div>
                    <input type="text" name="investigationMineralType" class="form-control" [(ngModel)]="explorationStage.investigationMineralType">
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">勘查阶段</label>
                <div>
                    <input type="text" name="investigationStage" class="form-control" [(ngModel)]="explorationStage.investigationStage">
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">勘查工作量</label>
                <div>
                    <input type="text" name="investigationWorkload" class="form-control" [(ngModel)]="explorationStage.investigationWorkload">
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">投入金额</label>
                <div>
                    <input type="text" name="investigationInvestment" class="form-control" [(ngModel)]="explorationStage.investigationInvestment">
                </div>    
            </div>
        </form>     
        <p-footer>
            <button type="button" pButton (click)="saveExplorationStage()" label="保存"></button>
            <button type="button" pButton icon="pi pi-close" (click)="stageDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>   
    </p-dialog>

    <!-- 探矿权报告弹出框 -->
    <p-dialog header="{{explorationTitle}}" [(visible)]="reportDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
        <div class="form-group has-feedback">
            <label class="control-label">报告分类</label>
            <div class="search">
                <p-dropdown [options]="reportCategory" name="reportCategoryId" [(ngModel)]="explorationReport.reportCategoryId" placeholder="请选择报告分类" filter="true">
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>    
        <div class="form-group has-feedback">
            <label class="control-label">报告日期</label>
            <div>
                <p-calendar [showIcon]="true" [(ngModel)]="explorationReport.reportTime" name="reportTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>    
        </div>
        <div class="form-group has-feedback">
            <label class="control-label">报告文件路径</label>
            <p-fileUpload name="demo[]" url="./upload.php" 
                multiple="multiple" accept="image/*" maxFileSize="1000000">
                <!-- <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template> -->
            </p-fileUpload>
        </div>    
        <div class="form-group has-feedback">
            <label class="control-label">文件描述详情</label>
            <div>
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationReport.reportDescription" name="projectArea"></textarea>
            </div>    
        </div>
        <p-footer>
            <button type="button" pButton (click)="saveExplorationReport()" label="保存"></button>
            <button type="button" pButton icon="pi pi-close" (click)="reportDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>  
    </p-dialog>
</div>