

<div [hidden]="explorationInfoTableDisplay">
    <div>
        <p>探矿权 > 探矿权项目信息</p>
    </div>
    <div class="ui-g-12 ui-md-4" style="float:left">
            <button pButton type="button"  label="新增" (click)="setExplorationt('add')"></button>
    </div>
    <div style="float: right;margin-bottom: 10px" [hidden]="!queryDisplay">
            <span style="margin-right:10px">项目名称</span>
            <p-autoComplete [(ngModel)]="filteredProjectName" [suggestions]="filteredProject" (completeMethod)="filteredName($event)"
                placeholder="输入项目名称" ></p-autoComplete>
            <span style="margin-right:10px;margin-left: 10px">矿权人名称</span>
            <p-autoComplete [(ngModel)]="filteredOwnerName"
                placeholder="输入矿权人" ></p-autoComplete>
            <button pButton  type="button" label="查询" (click)="setExplorationt('filtered')"></button>
    </div>
  <div style="clear: both;" class="p-table">
        
      <p-table [columns]="selectedColumns" 
               [value]="explorationInfoValue"  
               [resizableColumns]="true" 
                columnResizeMode="expand"
               [scrollable]="true" 
               
        >
        
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: right">
        
                <button type="button" pButton icon="fa fa-file-excel-o" iconPos="left" label="导出" (click)="exportExcel()" style="margin-right: 0.5em;"
                    class="ui-button-success"></button>
            </div>
            <!-- 菜单操作 -->
            <div style="text-align:left">
                <p-multiSelect [options]="explorationInfoTitle" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="共{0}列标题"
                    [style]="{minWidth: '200px'}" defaultLabel="请选择标题列" ></p-multiSelect>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
 
                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" [class]="col.field=='operation'?'operation-title':''">
                     {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns"  [class]="col.field=='operation'?'operation-title':'table-truncation-text'">
                    <span *ngIf="col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <div *ngIf="col.field == 'operation'">
                        <button pButton type="button"  class="operation-icon" (click)="goDetails(rowData,'detail')" label="详情"></button>
                        <button pButton type="button" *ngIf="modifyButton" class="operation-icon" (click)="goDetails(rowData,'modify')" label="编辑"></button>
                        <button pButton type="button" *ngIf="deleteButton" class="operation-icon" (click)="setExplorationt('delete',rowData)" label="删除"></button>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
                <div style="text-align: right;">
                   共{{projectTotal}}条
                </div>
        </ng-template>
      </p-table>
      <p-paginator [hidden]="!projectTotal"   [style]="{'min-width':'1200px'}" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="pageChange($event,'project')"></p-paginator>
  </div>
</div>

<div class="dialog-class textarea-style">
     <!-- 矿权项目增加弹出框 -->
  <p-dialog header="新增探矿权项目" [(visible)]="explorationtDisplay"  [maximizable]="true" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
        <form>
            <div class="form-group has-feedback">
                <label class="control-label">项目名称</label>
                <input  type="text" style="width:700px !important" maxlength = '100' [(ngModel)]="explorationProject.projectName" name="projectName"  class="form-control">
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿权人</label>
                <div class="search">
                    <p-dropdown [options]="mineralOwner" [style]="{'width':'700px'}" name="ownerName" [(ngModel)]="explorationProject.ownerId" placeholder="请选择一个矿权人" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="form-group has-feedback">
              <label class="control-label">项目定位区域</label>
              <button type="button" pButton (click)="viewMap()" label="查看"></button>
            </div>  
            <div class="form-group has-feedback">
                <label class="control-label">探矿权首立时间</label>
                <div>
                    <p-calendar 
                      [showIcon]="true" 
                      [(ngModel)]="explorationStartTime" 
                      name="explorationStartTime" 
                      [monthNavigator]="true" 
                      [yearNavigator]="true" 
                      yearRange="1970:2030"
                      dateFormat="yy.mm.dd"
                    >
                    </p-calendar>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">探矿权范围</label>
                <input type="text" style="width:700px !important" maxlength = '200' name="explorationArea" class="form-control" [(ngModel)]="explorationProject.explorationArea">
            </div>
            <div class="form-group has-feedback" >
                <label class="control-label">勘查阶段/报告成果</label>
                <div>
                    <textarea 
                        rows="5" 
                        style="width:700px" 
                        cols="30" 
                        maxlength = '500'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.investigationFinalStage" 
                        name="investigationFinalStage">
                    </textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">区域地质背景</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.areaGeologicBackground" 
                        name="areaGeologicBackground"
                    ></textarea>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">地球物理及地球化学特性</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.geophysicalGeochemical" 
                        name="geophysicalGeochemical"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿区地质背景:地层</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.mineralGeologicalStratum" 
                        name="mineralGeologicalStratum"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿区地质背景:构造</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.mineralGeologicalStructure" 
                        name="mineralGeologicalStructure"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿区地质背景:岩浆岩</label>
                <div>
                    <textarea 
                        rows="5"
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.mineralGeologicalMagmatite" 
                        name="mineralGeologicalMagmatite"
                     ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">成矿带归属</label>
                <input type="text" maxlength = '1200' style="width:700px !important" name="uri" class="form-control" [(ngModel)]="explorationProject.mineralBeltOwner" name="mineralBeltOwner">
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">成矿带地质背景</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.mineralBeltGeologic" 
                        name="mineralBeltGeologic"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">围岩及蚀变</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.rockAlteration" 
                        name="rockAlteration"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">矿(化)体特征</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.mineralCharacteristics" 
                        name="mineralCharacteristics"
                    ></textarea>
                    
                </div>
                <label class="control-label">主要成果</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.majorAchievement" 
                        name="majorAchievement"
                    ></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">初步认识</label>
                <div>
                    <textarea 
                    rows="5" 
                    cols="30" 
                    style="width:700px" 
                    maxlength = '1200'
                    pInputTextarea 
                    [(ngModel)]="explorationProject.preliminaryUnderstanding" 
                    name="preliminaryUnderstanding"></textarea>
                </div>    
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">存在的问题以及下一步工作</label>
                <div>
                    <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        maxlength = '1200'
                        pInputTextarea 
                        [(ngModel)]="explorationProject.remarks" 
                        name="remarks"
                    ></textarea>
                </div>    
            </div>
        </form>
        <div id="projectMap" class="map"></div>
        <p-footer>
            <button type="button" pButton (click)="saveProject()" label="保存"></button>
            <button type="button" pButton (click)="explorationtDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</div>
<ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '16px' }"></ngx-loading>