
<div [hidden]="detailsDisplay">
  <div>所有分类</div>
  <div class="classify-style">
    <div class="classify-one"><p-checkbox name="group1" value="矿权人信息" label="矿权人信息" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group2" value="联系方式" label="联系方式" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group3" value="面积" label="面积" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group4" value="勘查阶段" label="勘查阶段" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group5" value="时限" label="时限" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group6" value="矿种" label="矿种" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group7" value="坐标范围(坐标系)" label="坐标范围(坐标系)" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="classify-one"><p-checkbox name="group8" value="时间" label="时间" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div style="clear:both"></div>
  </div>
 
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="输入要搜索的文件名">   
        <button pButton type="button" label="搜索"></button>       
    </div>
  </div>
  <div style="clear: both;">
      <p-table [columns]="explorationInfoTitle" [value]="explorationValue" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <button  pButton type="button" *ngIf = "col.field == 'operation'" label="详情" (click)="goDetails(rowData)"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
  </div>
</div>



<div [hidden]="!detailsDisplay">
    <button  pButton type="button" label="返回列表" (click)="goBack()"></button>
    <div>
        <img src="./assets/img/pdf.jpg" style="height: 100px; width: 100px;">
        <div>
            <button  pButton type="button" label="查看" (click)="lookPDF()"></button>
            <button  pButton type="button" label="下载" ></button>
        </div> 
    </div>
    
   

    <p-sidebar [(visible)]="exampleDisplay" [fullScreen]="true" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Full Screen Sidebar</h1>
        <div id="example-pdf">

        </div>
        <button pButton type="button" (click)="exampleDisplay = false" label="返回" ></button>
    </p-sidebar>

</div>

