<div class="ui-g-12 ui-md-4">系统配置 > 用户管理</div>

<div class="p-table">
    
    <div style="clear: both;margin-bottom: 10px;" [hidden]="!searchDisplay">
            <div class="ui-g-12 ui-md-4">
                    <button pButton type="button"  label="新增" (click)="setUserRole('','add')"></button>
            </div>
            <div style="float:right">
                    <p-autoComplete [(ngModel)]="filteredUserName" [suggestions]="filteredUser" (completeMethod)="filteredUsers($event)"
                    placeholder="输入用户名" ></p-autoComplete>
                <button pButton [hidden]="!addDisplay" type="button" label="查询" (click)="setUserRole('','filtered')"></button>
            </div>
            
    </div>
    <div style="clear:both">
        <p-table 
            [columns]="userTableTitle" 
            [value]="userTableValue" 
            [loading]="loading"
            stateStorage="session"
        selectionMode="single" [resizableColumns]="true" [reorderableColumns]="true" stateKey="statedemo-user">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:8%">序号</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field"  pResizableColumn pReorderableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    <th style="width:410px">操作</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td style="width:8%">{{rowData.number}}</td>
                    <td *ngFor="let col of columns">
                        <span *ngIf = "col.field !== 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                        <span *ngIf = "col.field == 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]  | date:'yyyy-MM-dd HH:mm'}}</span>
                        
                    </td>
                    <td style="width:410px">
                        <button pButton type="button" *ngIf = "modifyDisplay"  (click)="setUserRole(rowData,'modifyRole')" class="operation-icon" label="角色管理"> </button>
             
                        <button pButton type="button" *ngIf = "deleteRoleDisplay && rowData.role"  (click)="setUserRole(rowData,'deleteRole')" class="operation-icon" label="删除角色"> </button>
                        <button pButton type="button" *ngIf = "deleteUserDisplay"  (click)="setUserRole(rowData,'modify')" class="operation-icon" label="重置密码"> </button>
                        <button pButton type="button" *ngIf = "modifyPassword "  (click)="setUserRole(rowData,'delete')" class="operation-icon" label="删除用户"> </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                    <div style="text-align: right;">
                       共{{userTotal}}条
                    </div>
            </ng-template>
        </p-table>
    </div>    
  <p-paginator [hidden]="!userTotal" [rows]="LIMIT_LOGIN" [totalRecords]="userTotal"  [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'user')"></p-paginator>
</div>

<!-- 角色操作弹出框 -->
<div class="dialog-class">
        <p-dialog header="{{userTitle}}" [(visible)]="userRoleDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
            <div class="p-table">
                <p-table 
                    [columns]="roleTitle" 
                    [value]="roleValue"  
                    [(selection)]="selectedRole"
                    
                >
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th style="width: 3em"></th>
                          <th style="width:8%">序号</th>
                          <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                            <td>
                                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                            </td>
                            <td>{{rowData.number}}</td>
                          <td *ngFor="let col of columns">
                              <span *ngIf = "col.field !== 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                              <span *ngIf = "col.field == 'createTime'" title=" {{rowData[col.field]}}"> {{rowData[col.field]  | date:'yy-MM-dd HH:mm'}}</span>
                          </td>
                      </tr>
                  </ng-template>
                    <ng-template pTemplate="summary">
                        <div style="text-align: right;">
                           共{{roleTotal}}条
                        </div>
                    </ng-template>
                </p-table>
           
                <p-paginator [hidden]="!roleTotal" [rows]="LIMIT_LOGIN" [totalRecords]="roleTotal"  [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'role')"></p-paginator> 
            </div>
                <p-footer>
                        <button type="button" pButton (click)="saveRole()" label="保存"></button>
                        <button type="button" pButton (click)="userRoleDisplay=false" label="取消" class="ui-button-secondary"></button>
                </p-footer>  
            
        </p-dialog>
</div>
<div class="dialog-class">
        <!-- 矿权人增加、修改弹出框 -->
        <p-dialog header="矿权人" [(visible)]="userDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
                <form>
                    <div class="form-group has-feedback">
                        <label class="control-label">账户名称</label>
                        <input  
                            type="text"   
                            [(ngModel)]="accountName" 
                            name="accountName"  
                            class="form-control"
                            maxlength = '100'
                        >
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">用户名</label>
                        <input  
                            type="text"   
                            [(ngModel)]="userName" 
                            name="userName" 
                            class="form-control"
                            maxlength = '100'
                         >
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">密码</label>
                        <input  
                            type="password"   
                            [(ngModel)]="password" 
                            name="password"  
                            class="form-control"
                            maxlength = '100'
                        >
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">确认密码</label>
                        <input  
                            type="password"   
                            [(ngModel)]="comfirmPassword" 
                            name="comfirmPassword"  
                            class="form-control"
                            maxlength = '100'
                        >
                    </div>

                </form>
                <p-footer>
                    <button type="button" pButton  (click)="saveOwner('add')" label="保存"></button>
                    <button type="button" pButton  (click)="userDisplay=false" label="取消" class="ui-button-secondary"></button>
                 </p-footer>   
        </p-dialog>
        <p-dialog header="重置密码" [(visible)]="modifyPasswordDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
            <form>
               
                <div class="form-group has-feedback">
                    <label class="control-label">新密码</label>
                    <input  
                        type="password"   
                        [(ngModel)]="newPassword" 
                        name="newPassword" 
                        class="form-control"
                        maxlength = '100'
                     >
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">确认新密码</label>
                    <input  
                        type="password"   
                        [(ngModel)]="comfirmPassword" 
                        name="password" 
                        class="form-control"
                        maxlength = '100'
                    >
                </div>
                
            </form>
            <p-footer>
                <button type="button" pButton  (click)="saveOwner('modify')" label="保存"></button>
                <button type="button" pButton  (click)="modifyPasswordDisplay=false" label="取消" class="ui-button-secondary"></button>
             </p-footer>   
        </p-dialog>
</div>                
    