<div  class="p-table">
    <p>矿权人管理</p>
    <div class="ui-g-12 ui-md-4" style="float: left;">
        <button pButton [hidden]="!addDisplay" type="button" label="新增" (click)="setOwner('add')"></button>
        
    </div>
    <div style="float: right;" [hidden]="!queryDisplay">
        <p-autoComplete [(ngModel)]="filteredOwnerName" [suggestions]="filteredOwner" (completeMethod)="filterOwners($event)"
            placeholder="输入矿权人名字" ></p-autoComplete>
        <button pButton  type="button" label="查询" (click)="setOwner('filtered')"></button>
    </div>
    <div style="clear:both">
        <p-table [columns]="mineralOwnerTitle" [value]="mineralOwnerValue" >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:8%">序号</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width:15%">操作</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>{{rowData.number}}</td>
                    <td *ngFor="let col of columns">
                        <span  title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                        
                    </td>
                    <td>
                        <button pButton type="button" *ngIf = "modifyDisplay" class="operation-icon"  (click)="setOwner('modify',rowData)" label="修改"></button>
                        <button pButton type="button" *ngIf = "deleteDisplay" class="operation-icon"  (click)="setOwner('delete',rowData)" label="删除"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                    <div style="text-align: right;">
                       共{{ownerTotal}}条
                    </div>
            </ng-template>
        </p-table>
        <p-paginator [hidden]="!ownerTotal" [rows]="LIMIT_LOGIN" [totalRecords]="ownerTotal" [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="pageChange($event)"></p-paginator>
    </div> 
</div>

<div class="dialog-class">
    <!-- 矿权人增加、修改弹出框 -->
    <p-dialog header="矿权人" [(visible)]="ownerDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
            <form>
                <div class="form-group has-feedback">
                    <label class="control-label">矿权人名称</label>
                    <input  type="text"    maxlength = '100' [(ngModel)]="mineralOwner.ownerName" name="ownerName"  class="form-control">
                </div>
            </form>
            <p-footer>
                <button type="button" pButton  (click)="saveOwner()" label="保存"></button>
                <button type="button" pButton  (click)="ownerDisplay=false" label="取消" class="ui-button-secondary"></button>
             </p-footer>   
    </p-dialog>
</div>                

<ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '16px' }"></ngx-loading>