
  <!--文件预览页面  -->       
  <p-sidebar [(visible)]="viewFileDisplay" [fullScreen]="true" [baseZIndex]="10000" [showCloseIcon]="false">
    <h3 style="font-weight:normal;width: 50%;float: left;">{{selectedFile.label}}</h3>
    <button pButton type="button" style="float:right;top:20px;z-index: 999;" (click)="backReport()"  label="返回" ></button>
    <div [hidden]="fileDisplay">
        <div id="example-pdf" class="example-pdf" [hidden]="fileType!=='pdf'&&fileType!=='doc'&&fileType!=='pptx'&&fileType!=='docx'">

        </div>

        <div [hidden]="fileType!=='xlsx'" class="example-excel">
            <p-tabMenu [model]="itemsExcel" [activeItem]="itemsExcel[0]" (click)="excelClick($event)"></p-tabMenu>
            <div  id="result" style="width: 100%;overflow: auto;height: 85%;"></div>
        </div>

        <div [hidden]="fileType!=='png'&& fileType!=='jpg'" class="example-image">
            <img src="{{imgUrl}}" id="img"  alt="该图片不存在"/>
        </div>

        <div [hidden]="fileType!=='txt'">
            <textarea rows="5" cols="30" style="width:100%" pInputTextarea disabled [(ngModel)]="txtTable" name="projectArea"></textarea>
        </div>
        
        <div id='tiff' [hidden]="fileType!=='tif'"></div>
    </div>
    <div [hidden]="!fileDisplay" class="failed-file">
        该文件不存在!<br/>请重新上传！
    </div>
  </p-sidebar>
<div  style="clear: 7;" class="p-table" [hidden]="!reportDetailDisplay">
    <div [hidden]="viewFileDisplay">
        <div style="float:left;margin-bottom: 10px;margin-top:10px">
            <button pButton type="button" label="新增" [hidden]="!addButton || !buttonType" (click)="setExplorationt('addReport')"></button>
        </div>
        <div style="float:right">
            <button style="margin-top: 10px;margin-bottom: 10px;margin-left: 10px" type="button" pButton [hidden]="type==='policy'" (click)="goBack()" label="返回"></button>
        </div>
        <!-- 只有政策报告界面存在搜索 -->

        <div style=" padding-top: 10px;text-align: center;" [hidden]="type!=='policy' || !isClickSearch">
                    <span style="margin-right:10px">开始时间</span>
                    <p-calendar 
                        [showIcon]="true" 
                        [(ngModel)]="startTime" 
                        name="startTime" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" 
                
                        yearRange="1970:2030"
                        dateFormat="yy.mm.dd"
                    ></p-calendar>
                    <span style="margin-right:10px;margin-left: 10px">结束时间</span>
                    <p-calendar 
                        [showIcon]="true" 
                        [(ngModel)]="endTime" 
                        name="endTime" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" 
                    
                        yearRange="1970:2030"
                        dateFormat="yy.mm.dd"
                    ></p-calendar>
                    <span style="margin-right:10px;margin-left: 10px">报告名称</span>
                    <p-autoComplete [(ngModel)]="reportNameLike"
                        placeholder="输入报告名称" ></p-autoComplete>
                    <button pButton type="button"  label="查询"  (click)="setExplorationt('filtered')"></button>

        </div>
        <div class="search"  style="clear:both;"  [hidden]="type!=='policy' || !isClickSearch">
                <span style="margin-right:10px;margin-left: 10px">文件分类名称</span>
                <p-dropdown [options]="fileClassify" [style]="{width:'200px'}"  [(ngModel)]="selectClassifyID" (onChange)="selectClassify(selectClassifyID)" placeholder="请选择报告分类" [virtualScroll]="true"  [filter]="true"></p-dropdown>
        </div>
        <div style="clear:both;margin-top: 10px;">
            <p-table 
                [columns]="selectedColumns" 
                [value]="reportClassifyValue"   
                [scrollable]="true" 
               
                [resizableColumns]="true"  
                columnResizeMode="expand"
                [style]="{'min-width':'1200px'}"
            >
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="caption">
                    <!-- 菜单操作 -->
                    <div style="text-align:left">
                        <p-multiSelect [options]="reportClassifyTitle" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="共{0}列标题"
                            [style]="{minWidth: '200px'}" defaultLabel="请选择标题列"></p-multiSelect>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:8%">序号</th>
                        <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                        <th style="width:270px" *ngIf="buttonType">操作</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td style="width:8%" class="ui-resizable-column">{{rowData.number}}</td>
                        <td *ngFor="let col of columns" class="ui-resizable-column" class="table-truncation-text">
                            <span *ngIf = "col.field !== 'operation'"  pTooltip=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>

                        </td>
                        <td style="width:270px" *ngIf="buttonType">
                            <button pButton type="button" [hidden]="!modifyButton" class="operation-icon"  (click)="setExplorationt('modifyReport',rowData)" label="修改"></button>
                            <button pButton type="button" [hidden]="!viewButton" class="operation-icon"  (click)="setExplorationt('viewReport',rowData)" label="查看文件"></button>
                            <button pButton type="button" [hidden]="!deleteButton" class="operation-icon"  (click)="setExplorationt('deleteReport',rowData)"  label="删除"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                        <div style="text-align: right;">
                           共{{reportTotal}}条
                        </div>
                </ng-template>
            </p-table>
            <p-paginator #clickPaginator [hidden]="!reportTotal" [rows]="LIMIT_LOGIN" [totalRecords]="reportTotal" [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="pageChange($event)"></p-paginator>
        </div>
    </div>
   
</div>
<div class="dialog-class textarea-style">
    <!-- 矿权报告弹出框 -->
    <p-dialog header="{{explorationTitle}}" [(visible)]="reportDisplay" [modal]="true" [blockScroll]="true" [responsive]="true" [style]="{width: '800px'}">
        <div class="form-group has-feedback">
                <label class="control-label">资料名称</label>
                <input  type="text" style="width:700px !important" maxlength = '100'  [(ngModel)]="explorationReport.reportName" name="reportName"  class="form-control">
        </div> 
        <div class="form-group has-feedback">
            <label class="control-label">资料分类</label>
            <div class="search">
                <p-dropdown [options]="reportCategory" [style]="{'width':'700px'}" name="reportCategoryId" [(ngModel)]="explorationReport.reportCategoryId" placeholder="请选择报告分类" filter="true">
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float: left;margin-top:4px">{{car.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>    

        <div class="form-group has-feedback" [hidden]="type=='policy'">
            <label class="control-label">报告文件路径(以'\'隔开文件夹和文件)
                <button type="button" pButton (click)="selectFolder()" label="选择文件夹"></button>
            </label>
            <input  type="text" style="width:700px !important" maxlength = '100'  [(ngModel)]="explorationReport.reportFilePath" name="reportFilePath"  class="form-control">
        </div>    
        <div class="form-group has-feedback" [hidden]="type!=='policy'">
                <label class="control-label">选择报告文件
                        <p-fileUpload  name="file" [url]="fileUrl" chooseLabel='选择'  uploadLabel='上传' cancelLabel='取消'  (onUpload)="onUpload($event)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}}</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                </label>

        </div>    
        <div class="form-group has-feedback">
            <label class="control-label">资料摘要</label>
            <div>
                <textarea 
                    rows="5" 
                    cols="30" 
                    pInputTextarea 
                    [(ngModel)]="explorationReport.reportDescription" 
                    maxlength = '500'
                    name="projectArea"
                    style="width:700px !important"
                ></textarea>
            </div>    
        </div>
        <p-footer>
            <button type="button" pButton (click)="saveExplorationReport()" label="保存"></button>
            <button type="button" pButton  (click)="reportDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>  
    </p-dialog>

    <!-- 查看文件弹出框 -->
    <p-dialog header="查看文件" [(visible)]="reportFileDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px',height:'400px'}">
            <!-- <div style="max-height:400px;min-height: 300px">
                <p-tree [value]="fileTree" [filter]="true" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="treeSelect($event)" [style]="{width:'500px',height:'100%'}" >                           
                </p-tree>
            </div> -->
            <div [hidden]="!loadingDisplay" style="text-align: center;margin-top: 0px;">
                <img src="./assets/img/loading.gif">
                <div>加载中...</div>
            </div>
            <div [hidden]="loadingDisplay">
                <div>
                    <span *ngFor="let path of clickFolderPath" (click)="clickFile(path,'path')" class="click-file file-path">{{path.name}}></span>
                </div>    
                <div style="max-height:400px;min-height: 300px;" class="p-table">
                    <p-table [columns]="fileTitle" [value]="fileValue">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <span *ngIf = "col.field !== 'operation' && col.field == 'name'" class="click-file" (click)="treeSelect(rowData)"> {{rowData[col.field]}}</span>
                                    <span *ngIf = "col.field !== 'operation' && col.field == 'fileType'"> {{rowData[col.field]}}</span>
                                    <span *ngIf = "col.field == 'operation' && rowData.file" class="click-file" (click)="previewFile(rowData)"> 预览</span>
                                    <span *ngIf="col.field == 'operation'&& rowData.file && uploadDisplay" class="upload-file" (click)="previewFile(rowData,'upload')"> 下载</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                
            </div>
            <p-footer>
                <button type="button" pButton  (click)="reportFileDisplay = false" label="取消" class="ui-button-secondary"></button>
            </p-footer>
    </p-dialog>

    <!-- 选择文件夹 -->
    <p-dialog header="选择文件夹" [(visible)]="reportFolderDisplay" [modal]="true" [responsive]="true" [draggable]="false" [style]="{width: '800px',height:'500px'}">
        <!-- <div style="max-height:400px;min-height: 300px">
            <p-tree [value]="fileTree" [filter]="true" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="treeSelect($event)" [style]="{width:'500px',height:'100%'}" >                           
            </p-tree>
        </div> -->
        <div [hidden]="!loadingDisplay" style="text-align: center;margin-top: 0px;">
            <img src="./assets/img/loading.gif">
            <div>加载中...</div>
        </div>
        <div [hidden]="loadingDisplay">
            <div>
                <span *ngFor="let path of clickFolderPath" (click)="clickFile(path,'path')" class="click-file file-path">{{path.name}}></span>
            </div>    
            <div style="max-height:400px;min-height: 300px;" class="p-table">
                <p-table [columns]="fileTitle" [value]="fileValue" [(selection)]="selectedFolder">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em"></th>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                    <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                            </td>
                            <td *ngFor="let col of columns">
                                <span *ngIf = "col.field !== 'operation' && col.field == 'name'" class="click-file" (click)="treeSelect(rowData)"> {{rowData[col.field]}}</span>
                                <span *ngIf = "col.field !== 'operation' && col.field == 'fileType'"> {{rowData[col.field]}}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            
        </div>
        <p-footer>
            <button type="button" pButton  (click)="saveFolder()" label="确认"></button>
            <button type="button" pButton (click)="reportFolderDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>
</div>
<ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '16px' }"></ngx-loading>