
  <!--文件预览页面  -->       
  <p-sidebar [(visible)]="viewFileDisplay" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">{{selectedFile.label}}</h1>
    <div id="example-pdf" [hidden]="fileType!=='pdf'&&fileType!=='doc'">

    </div>
    <div [hidden]="fileType!=='xlsx'">
        <p-tabMenu [model]="itemsExcel" [activeItem]="itemsExcel[0]" (click)="excelClick($event)"></p-tabMenu>
        <div  id="result" style="width: 100em;overflow: auto;height: 40em;"></div>
    </div>
    <div [hidden]="fileType!=='png'&& fileType!=='jpg'" style="width:50%;height:50%;text-align: center;border: 1px solid;">
        <img src="{{imgUrl}}" style="width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px;"/>
    </div>
    <div [hidden]="fileType!=='txt'">
        <!-- <table style="width: 80em;overflow: auto;height: 4em;border: 1px solid;
        padding: 20px;">
            <tbody *ngFor="let txt of txtTable">
                <tr>
                    <td>{{txt}}</td>
                </tr>
            </tbody>
        </table> -->
        <textarea rows="5" cols="30" pInputTextarea disabled [(ngModel)]="txtTable" name="projectArea"></textarea>
    </div>
    
    
    <button pButton type="button" (click)="viewFileDisplay = false" label="返回" ></button>
  </p-sidebar>
<div  style="clear: both;" class="p-table" [hidden]="!reportDetailDisplay">
    <div [hidden]="viewFileDisplay">
        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="新增" (click)="setExplorationt('addReport')"></button>
        </div>
        <button style="float: right;top: 5px;" type="button" pButton  (click)="goBack()" label="返回"></button>
        <div style="clear:both">
            <p-table [columns]="reportClassifyTitle" [value]="reportClassifyValue" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                        <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('modifyReport',rowData)">修改</span>
                        <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('viewReport',rowData)">查看文件</span>
                        <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setExplorationt('deleteReport',rowData)">删除</span>
                    </td>
                </tr>
            </ng-template>
            </p-table>
        
        </div>
    </div>
   
</div>
<div class="dialog-class textarea-style">
    <!-- 矿权报告弹出框 -->
    <p-dialog header="{{explorationTitle}}" [(visible)]="reportDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
        <div class="form-group has-feedback">
            <label class="control-label">报告分类</label>
            <div class="search">
                <p-dropdown [options]="reportCategory" name="reportCategoryId" [(ngModel)]="explorationReport.reportCategoryId" placeholder="请选择报告分类" filter="true">
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>    
        <div class="form-group has-feedback">
            <label class="control-label">报告日期</label>
            <div>
                <p-calendar [showIcon]="true" [(ngModel)]="explorationReport.reportTime" name="reportTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>    
        </div>
        <div class="form-group has-feedback">
            <label class="control-label">报告文件路径(以'/'隔开文件夹和文件)</label>
            <input  type="text"   [(ngModel)]="explorationReport.reportFilePath" name="reportFilePath"  class="form-control">
        </div>    
        <div class="form-group has-feedback">
            <label class="control-label">文件描述详情</label>
            <div>
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="explorationReport.reportDescription" name="projectArea"></textarea>
            </div>    
        </div>
        <p-footer>
            <button type="button" pButton (click)="saveExplorationReport()" label="保存"></button>
            <button type="button" pButton icon="pi pi-close" (click)="reportDisplay = false" label="取消" class="ui-button-secondary"></button>
        </p-footer>  
    </p-dialog>

    <!-- 查看文件弹出框 -->
    <p-dialog header="查看文件" [(visible)]="reportFileDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px',height:'400px'}">
            <p>选中文件后点击“预览”按钮进行查看文件</p>
            <div style="max-height:400px;min-height: 300px">
                <p-tree [value]="fileTree" [filter]="true" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="treeSelect($event)" [style]="{width:'500px',height:'100%'}" >                           
                </p-tree>
            </div>
            
            <p-footer>
                    <span style="float:left;color:#00ff56">已选择文件为：{{selectedFile.label}}</span>
                    <button type="button" pButton (click)="previewFile()" [disabled]="isInitialize" label="预览"></button>
                    <button type="button" pButton icon="pi pi-close" (click)="reportFileDisplay = false" label="取消" class="ui-button-secondary"></button>
            </p-footer>
    </p-dialog>
</div>
