.operation-icon{
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
    float: left;
}
.pdfobject-container { height: 50rem; border: 1rem solid rgba(0,0,0,.1); }
#pdf {
    width: 800px;
    height: 800px;
    margin: 2em auto;
}
#pdf p {
padding: 1em;
}
#pdf object {
display: block;
border: solid 1px #123;
}

.click-file{
    cursor: pointer;
}

.file-path{
    margin-right:5px;
    color: #00ffa7;
}
.file-path:hover{
    color: #0090ff;
}