.operation-icon{
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
    float: left;
}
.pdfobject-container { height: 50rem; border: 1rem solid rgba(0,0,0,.1); }
#pdf {
    width: 800px;
    height: 800px;
    margin: 2em auto;
}
#pdf p {
padding: 1em;
}
#pdf object {
display: block;
border: solid 1px #123;
}

.click-file{
    cursor: pointer;
}

.file-path{
    margin-right:5px;
    color: #00ffa7;
}
.file-path:hover{
    color: #0090ff;
}

.example-pdf{
    bottom: 10px;
    position: absolute;
    width: 100%;
    height: 90%;
    top:75px;
}
.example-excel{
    float: left;
}

#tiff{
    width: 100%;
    height: 90%;
    overflow: auto;
    border: 1px solid;
}
.example-image{
    text-align: center;
    border: 1px solid;
    width: 100%;
    height: 90%;
    overflow: auto;
}