
<div>
  <span>矿权管理 > 矿权项目</span>
</div>
<div class="ui-g-12 ui-md-4">
  <button pButton type="button" label="新增" (click)="setMineral('add')"></button>
</div>
<div style="clear: both;" class="p-table">
  <p-table [columns]="mineralProjectTitle" [value]="mineralProjectValue"  [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="setMineral('delete',rowData)">删除</span>
            </td>
        </tr>
    </ng-template>
  </p-table>
  <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event)"></p-paginator>
</div>

<div class="dialog-class textarea-style">
  <!-- 矿权项目增加弹出框 -->
  <p-dialog header="新增探矿权项目" [(visible)]="mineralProjectDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
          <form>
              <div class="form-group has-feedback">
                  <label class="control-label">项目名称</label>
                  <input  type="text"   [(ngModel)]="mineralProject.projectName" name="projectName"  class="form-control">
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">探矿权首立时间</label>
                  <div>
                      <p-calendar [showIcon]="true" [(ngModel)]="explorationStartTime" name="explorationStartTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                  </div>    
              </div>
              <div class="form-group has-feedback" [hidden]="modifyExploration">
                  <label class="control-label">探矿权范围</label>
                  <input type="text" name="explorationArea" class="form-control" [(ngModel)]="mineralProject.explorationArea">
              </div>
              <div class="form-group has-feedback" [hidden]="modifyExploration">
                  <label class="control-label">采矿权首立时间</label>
                  <div>
                      <p-calendar [showIcon]="true" [(ngModel)]="miningStartTime" name="miningStartTime" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                  </div>   
              </div>
              <div class="form-group has-feedback" [hidden]="modifyExploration">
                  <label class="control-label">采矿权范围</label>
                  <input type="text" name="miningArea" class="form-control" [(ngModel)]="mineralProject.miningArea" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group has-feedback"  [hidden]="modifyExploration">
                  <label class="control-label">勘查阶段/报告成果</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.investigationFinalStage" name="investigationFinalStage"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">区域地质背景</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.areaGeologicBackground" name="areaGeologicBackground"></textarea>
                  </div>
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">地球物理及地球化学特性</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.geophysicalGeochemical" name="geophysicalGeochemical"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:地层</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.mineralGeologicalStratum" name="mineralGeologicalStratum"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:构造</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.mineralGeologicalStructure" name="mineralGeologicalStructure"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:岩浆岩</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.mineralGeologicalMagmatite" name="mineralGeologicalMagmatite"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带归属</label>
                  <input type="text" name="uri" class="form-control" [(ngModel)]="mineralProject.mineralBeltOwner" name="mineralBeltOwner">
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带地质背景</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.mineralBeltGeologic" name="mineralBeltGeologic"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">围岩及蚀变</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.rockAlteration" name="rockAlteration"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿(化)体特征</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.mineralCharacteristics" name="mineralCharacteristics"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">主要成果</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.majorAchievement" name="majorAchievement"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">初步认识</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.preliminaryUnderstanding" name="preliminaryUnderstanding"></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">存在的问题以及下一步工作</label>
                  <div>
                      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="mineralProject.remarks" name="remarks"></textarea>
                  </div>    
              </div>
          </form>
          <p-footer>
              <button type="button" pButton (click)="saveMineralProject()" label="保存"></button>
              <button type="button" pButton icon="pi pi-close" (click)="mineralProjectDisplay = false" label="取消" class="ui-button-secondary"></button>
          </p-footer>
  </p-dialog>
</div>