
<div>
  <span>矿业权基本信息 > 矿业权名录</span>
</div>
<div class="ui-g-12 ui-md-4" style="float:left">
  <button pButton type="button" [hidden]="!addDisplay" label="新增" (click)="setMineral('add')"></button>
</div>
<div style="float: right;margin-top: 10px" [hidden]="!searchDisplay">
        <span style="margin-right:10px">项目名称</span>
        <p-autoComplete [(ngModel)]="filteredProjectName" [suggestions]="filteredProject" (completeMethod)="filteredName($event)"
            placeholder="输入项目名称" ></p-autoComplete>
            <span style="margin-right:10px;margin-left: 10px">矿权人</span>
            <p-autoComplete [(ngModel)]="ownerName" 
            placeholder="输入矿权人" ></p-autoComplete>
        <button pButton  type="button" label="查询" (click)="setMineral('filtered')"></button>
</div>
<div style="clear: both;" class="p-table">
  <p-table 
    [columns]="mineralProjectTitle" 
    [value]="mineralProjectValue"  
    [loading]="loading"
    columnResizeMode="expand"
    [style]="{'min-width':'1200px'}"
    [resizableColumns]="true" 
    [scrollable]="true" 
    scrollHeight="400px" 
  >
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width:8%" pResizableColumn>序号</th>
            <th *ngFor="let col of columns" pResizableColumn>
                {{col.header}}
            </th>
            <th style="width:15%" pResizableColumn>操作</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td style="width:8%">{{rowData.number}}</td>
            <td *ngFor="let col of columns">
                <span  title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
               
            </td>
            <td style="width:15%">
                <button pButton type="button" *ngIf = "modifDisplay" class="operation-icon"  (click)="setMineral('modify',rowData)" label="修改"></button>
                <button pButton type="button" *ngIf = "deleteDisplay" class="operation-icon"  (click)="setMineral('delete',rowData)" label="删除"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
            <div style="text-align: right;">
               共{{projectTotal}}条
            </div>
    </ng-template>
  </p-table>
  <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event)"></p-paginator>

</div>

<div class="dialog-class textarea-style">
  <!-- 矿权项目增加弹出框 -->
  <p-dialog header="新增矿权项目" [(visible)]="mineralProjectDisplay"  [maximizable]="true" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
          <form>
              <div class="form-group has-feedback">
                  <label class="control-label">项目名称</label>
                  <input  
                    type="text" 
                    style="width:700px !important"  
                    [(ngModel)]="mineralProject.projectName" 
                    name="projectName"  
                    class="form-control"
                    maxlength = '100'
                  >
              </div>
              <div class="form-group has-feedback">
                <label class="control-label">矿权人</label>
                <div class="search">
                    <p-dropdown [options]="mineralOwner" [style]="{'width':'700px'}" name="ownerName" [(ngModel)]="mineralProject.ownerId" placeholder="请选择一个矿权人" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label">项目定位区域</label>
                <button type="button" pButton (click)="viewMap()" label="查看"></button>
              </div>  
              <div class="form-group has-feedback" [hidden]="miningStartTime">
                  <label class="control-label">探矿权首立时间</label>
                  <div>
                      <p-calendar 
                        [showIcon]="true" 
                        [(ngModel)]="explorationStartTime" 
                        name="explorationStartTime" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" 
                        yearRange="1970:2030"
                        dateFormat="yy.mm.dd"
                      >
                      </p-calendar>
                  </div>    
              </div>
              <div class="form-group has-feedback" [hidden]="miningStartTime">
                  <label class="control-label">探矿权范围</label>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="explorationArea" 
                    class="form-control" 
                    [(ngModel)]="mineralProject.explorationArea"
                    maxlength = '200'
                  >
              </div>
              <div class="form-group has-feedback" [hidden]="explorationStartTime">
                  <label class="control-label">采矿权首立时间</label>
                  <div>
                      <p-calendar 
                        [showIcon]="true" 
                        dateFormat="yy.mm.dd" 
                        [(ngModel)]="miningStartTime" 
                        name="miningStartTime" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" 
                        yearRange="1970:2030"
                      ></p-calendar>
                  </div>   
              </div>
              <div class="form-group has-feedback"  [hidden]="explorationStartTime">
                  <label class="control-label">采矿权范围</label>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="miningArea" 
                    class="form-control" 
                    [(ngModel)]="mineralProject.miningArea" 
                    [ngModelOptions]="{standalone: true}"
                    maxlength = '200'
                  >
              </div>
              <div class="form-group has-feedback" >
                  <label class="control-label">勘查阶段/报告成果</label>
                  <div>
                      <textarea 
                        rows="5" 
                        style="width:700px" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.investigationFinalStage" 
                        name="investigationFinalStage"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">区域地质背景</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.areaGeologicBackground" 
                        name="areaGeologicBackground"
                        maxlength = '500'
                      ></textarea>
                  </div>
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">地球物理及地球化学特性</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.geophysicalGeochemical" 
                        name="geophysicalGeochemical"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:地层</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.mineralGeologicalStratum" 
                        name="mineralGeologicalStratum"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:构造</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.mineralGeologicalStructure" 
                        name="mineralGeologicalStructure"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:岩浆岩</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.mineralGeologicalMagmatite" 
                        name="mineralGeologicalMagmatite"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带归属</label>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="uri" 
                    class="form-control" 
                    [(ngModel)]="mineralProject.mineralBeltOwner" 
                    name="mineralBeltOwner"
                    maxlength = '500'
                  >
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带地质背景</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.mineralBeltGeologic" 
                        name="mineralBeltGeologic"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">围岩及蚀变</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.rockAlteration" 
                        name="rockAlteration"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿(化)体特征</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.mineralCharacteristics" 
                        name="mineralCharacteristics"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">主要成果</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.majorAchievement" 
                        name="majorAchievement"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">初步认识</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.preliminaryUnderstanding" 
                        name="preliminaryUnderstanding"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">存在的问题以及下一步工作</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        style="width:700px" 
                        pInputTextarea 
                        [(ngModel)]="mineralProject.remarks" 
                        name="remarks"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
          </form>
          <div id="projectMap" class="map"></div>
          <p-footer>
              <button type="button" pButton (click)="saveMineralProject()" label="保存"></button>
              <button type="button" pButton  (click)="mineralProjectDisplay = false" label="取消" class="ui-button-secondary"></button>
          </p-footer>
  </p-dialog>
 
</div>
