<div id="main_content" #main_content >
    <div id="projectMap" class="map">
        <div id="popup" class="ol-popup">
        <a href ='#' id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content" style="color:black"></div>
        
        </div>
        <!-- 比例尺显示 -->
        <div id="digitalScale" >
        <select id="type" [hidden]="true">
            <option value="LineString">Length (LineString)</option>
        </select>
        </div>
    </div>
    
    <!-- 坐标显示 -->
    <div id="mouse-position">
    </div>
    
</div>