
.border-style{
    border: 1px solid #2d6da3;
    background: #5691c8;
    color: #554ba7;
    line-height: 40px;
    display: block;
    position: fixed;
    top: 50%;
    left: 30%;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    cursor: pointer;
}
.border-style :hover{
    background: #298be7;
    color: #f4f4f4;
    line-height: 50px;

}