

<p>采矿权 > 采矿权项目信息</p>
<div>
<div style="float: right;margin-bottom: 10px" [hidden]="!queryDisplay">
        <span style="margin-right:10px">项目名称</span>
        <p-autoComplete [(ngModel)]="filteredProjectName" [suggestions]="filteredProject" (completeMethod)="filteredName($event)"
            placeholder="输入项目名称" ></p-autoComplete>
            <span style="margin-right:10px;margin-left: 10px">矿权人</span>
            <p-autoComplete [(ngModel)]="filteredOwnerName"
            placeholder="输入矿权人" ></p-autoComplete>
        <button pButton  type="button" label="查询" (click)="setMining('filtered')"></button>
</div>
  <div style="clear: both;" class="p-table">
      <p-table [columns]="miningInfoTitle" [value]="miningInfoValue"  [rows]="10"  [loading]="loading">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span *ngIf = "col.field !== 'operation'" title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    <span *ngIf = "col.field == 'operation'" class="operation-icon"  (click)="goDetails(rowData)">详情</span>
                    <span *ngIf = "col.field == 'operation' && deleteDisplay" class="operation-icon"  (click)="setMining('delete',rowData)">删除</span>
                </td>
            </tr>
        </ng-template>
      </p-table>
      <p-paginator [hidden]="!projectTotal" [rows]="LIMIT_LOGIN" [totalRecords]="projectTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'project')"></p-paginator>
  </div>
</div>


