
<div style="color:#fff">
    <div *ngIf="reportTypeNumber==0">
        <p>矿业权政策 > 矿业权政策文件分类</p>
    </div>
    <div *ngIf="reportTypeNumber==1">
        <p>探矿权 > 探矿权文件分类</p>
    </div>
    <div *ngIf="reportTypeNumber==2">
        <p>采矿权 > 采矿权文件分类</p>
    </div>
  
  <div class="ui-g-12 ui-md-4">
    <button pButton [hidden]="!addButton" type="button" label="新增" (click)="setReport('add','')"></button>
  </div>
  <div style="clear: both;"  class="p-table">
      <p-table 
        [columns]="explorationInfoTitle" 
        [value]="explorationValue"  
        [loading]="loading"
        [scrollable]="true" 
        scrollHeight="400px" 
        [resizableColumns]="true"  
        columnResizeMode="expand"
        [style]="{'min-width':'1200px'}"
      >
        <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:8%" pResizableColumn>序号</th>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>   
                <th style="width:15%" pResizableColumn>操作</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td style="width:8%">{{rowData.number}}</td>
                <td *ngFor="let col of columns">
                    <span title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                    
                </td>
                <td  style="width:15%">
                    <button pButton type="button"  *ngIf = " modifyButton"   class="operation-icon" (click)="setReport('modify',rowData)" label="修改"></button>
                    <button pButton type="button"  *ngIf = "deleteButton"    class="operation-icon" (click)="setReport('delete',rowData)" label="删除"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
                <div style="text-align: right;">
                   共{{reportTotal}}条
                </div>
        </ng-template>
      </p-table>
      <p-paginator [hidden]="!reportTotal" [rows]="LIMIT_LOGIN" [totalRecords]="reportTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event)"></p-paginator>
  </div>
</div>
<div class="dialog-class">
    <!-- 报告分类弹出框 -->
    <p-dialog header="{{reportTitle}}" [(visible)]="setReporteDisplay" [modal]="true" [responsive]="true" [style]="{width: '600px'}">
            <form>
                    <div class="form-group has-feedback">
                      <label class="control-label">报告分类名称</label>
                      <input [(ngModel)]="reportCategoryName" type="text" name="code" maxlength = '100' class="form-control">
                    </div>
            </form>     
            <p-footer>
                    <button type="button" pButton  (click)="saveReport()" label="保存"></button>
                    <button type="button" pButton  (click)="setReporteDisplay=false" label="取消" class="ui-button-secondary"></button>
            </p-footer>   
    </p-dialog>
</div>    


