<p>系统配置 > API授权管理</p>
<div class="search ui-g-12 ui-md-4">
        <button pButton [hidden]="!addButtonDisplay" style="margin-right:20px" type="button" label="新增" (click)="setApi('add','')"></button>
        <p-dropdown [options]="apiClassify" [style]="{width:'300px'}" [(ngModel)]="selectApiClassify" (onChange)="selectClassify()" placeholder="资源类别" [virtualScroll]="true"  [filter]="true"></p-dropdown>
</div>
<div style="float: right;margin-top: 10px" [hidden]="!searchDisplay">
        <p-autoComplete [(ngModel)]="filteredAPIName" [suggestions]="filteredAPI" (completeMethod)="filteredApi($event)"
            placeholder="输入API名称" ></p-autoComplete>
        <button pButton  type="button" label="查询" (click)="setApi('filtered')"></button>
</div>
<div class="p-table" style="clear:both">
    <p-table 
        [columns]="apiTableTitle" 
        [value]="apiTableValue" 
        [loading]="loading"
        [style]="{'min-width':'1200px'}"
    >
      <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:8%">序号</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th style="width:15%">操作</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td style="width:8%">{{rowData.number}}</td>
              <td *ngFor="let col of columns">
                  <span title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                  
              </td>
              <td  style="width:15%">
                    <button pButton type="button"  *ngIf = "modifyDisplay"  (click)="setApi('modify',rowData)" class="operation-icon" label="修改"> </button>
                    <button pButton type="button"  *ngIf = "deleteDisplay"  (click)="setApi('delete',rowData)" class="operation-icon" label="删除"> </button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
            <div style="text-align: right;">
               共{{apiTotal}}条
            </div>
        </ng-template>
    </p-table>
    <p-paginator #clickPaginator  [hidden]="!apiTotal" [rows]="LIMIT_LOGIN" [totalRecords]="apiTotal"  [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="pageChange($event)"></p-paginator>
</div>

<!-- 编辑api -->
<div class="dialog-class">
        <p-dialog header="{{apiTitle}}" [(visible)]="apiEditorDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
                <form>
                        <div class="form-group has-feedback">
                          <label class="control-label">编码</label>
                          <input 
                            [(ngModel)]="apiEditor.code" 
                            style="width:700px !important" 
                            type="text" 
                            name="code" 
                            class="form-control"
                            maxlength = '100'
                          >
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">名称</label>
                            <input 
                                [(ngModel)]="apiEditor.name" 
                                style="width:700px !important" 
                                type="text" 
                                name="name" 
                                class="form-control"
                                maxlength = '100'
                            >
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">URI</label>
                            <input 
                                [(ngModel)]="apiEditor.uri" 
                                style="width:700px !important" 
                                type="text" 
                                name="uri" 
                                class="form-control"
                                maxlength = '200'
                            >
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label">API类别</label>
                            <select [(ngModel)]="apiEditor.classify" style="width:700px !important" name="classify" class="form-control">
                                    <option *ngFor="let item of apiClassify" value="{{item.value}}">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                                <label class="control-label">类型</label>
                                <select [(ngModel)]="apiEditor.type" style="width:700px !important" name="type" class="form-control">
                                        <option *ngFor="let item of apiType" value="{{item.value}}">{{item.label}}</option>
                                </select>
                        </div>
                        <div class="form-group has-feedback">
                                <label class="control-label">访问方式</label>
                                <select [(ngModel)]="apiEditor.method" style="width:700px !important" name="method" class="form-control">
                                        <option *ngFor="let item of accessMethod" value="{{item.value}}">{{item.label}}</option>
                                </select>
                        </div>
                        <div class="form-group has-feedback">
                                <label class="control-label">状态</label>
                                <select [(ngModel)]="apiEditor.status" style="width:700px !important" name="status" class="form-control">
                                        <option *ngFor="let item of apiStatus" value="{{item.value}}">{{item.label}}</option>
                                </select>
                        </div>
                </form>
               
                <p-footer>
                    <button type="button" pButton  (click)="saveAPI()" label="保存"></button>
                    <button type="button" pButton  (click)="apiEditorDisplay=false" label="取消" class="ui-button-secondary"></button>
                </p-footer>
        </p-dialog>
</div>
