<div>
    <p>采矿权 > 采矿权项目信息 > {{miningProject.projectName}}</p>
  <p-tabMenu [model]="miningItems" [activeItem]="miningItems[0]"  (click)="menuClick($event.path[0].innerText)"></p-tabMenu>

  <!-- 项目详情 -->
  <div [hidden]="!projectDetailDisplay" style="border: 1px solid #66afe9;background: radial-gradient(#49779ff5 100%, #f2f1ed 20%) !important;padding: 10px;">
        
      <div class="p-table">
          <table  class="table table-bordered" style=" color: #fff;word-break: break-all;">
              <tbody>
                  <tr>
                      <td class="table-td">项目名称</td>
                      <td>{{miningProject.projectName}}</td>
                  </tr>
                  <tr>
                    <td class="table-td">矿权人</td>
                    <td>{{miningProject.ownerName}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">采矿权首立时间</td>
                      <td>{{miningProject.miningStartTime}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">区域地质背景</td>
                      <td>{{miningProject.areaGeologicBackground}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">地球物理及地球化学特征</td>
                      <td>{{miningProject.geophysicalGeochemical}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">矿区地质背景:地层</td>
                      <td>{{miningProject.mineralGeologicalStratum}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">矿区地质背景:构造</td>
                      <td>{{miningProject.mineralGeologicalStructure}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">矿区地质背景:岩浆层</td>
                      <td>{{miningProject.mineralGeologicalMagmatite}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">成矿带归属</td>
                      <td>{{miningProject.mineralBeltOwner}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">成矿地质背景</td>
                      <td>{{miningProject.mineralBeltGeologic}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">围岩及蚀变</td>
                      <td>{{miningProject.rockAlteration}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">矿（化）体特征</td>
                      <td>{{miningProject.mineralCharacteristics}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">主要成果</td>
                      <td>{{miningProject.majorAchievement}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">初步认识</td>
                      <td>{{miningProject.preliminaryUnderstanding}}</td>
                  </tr>
                  <tr>
                      <td class="table-td">存在的问题及下一步工作建议</td>
                      <td>{{miningProject.remarks}}</td>
                  </tr>
              </tbody>
          </table>
          <button type="button" [hidden]="!modifyButton || !buttonType" pButton (click)="modifyProject()" label="修改"></button>
          <button style="margin-left:20px;margin-top: 10px;margin-bottom: 10px;" type="button" pButton  (click)="goBack()" label="返回" class="ui-button-secondary"></button>
      </div>
  </div>

  <!--  开采详情-->
  <div style="clear: both;" class="p-table" [hidden]="!stageDetailDisplay">
      <div class="ui-g-12 ui-md-4">
          <button pButton type="button" [hidden]="!addStageButton || !buttonType" label="新增" (click)="setMining('addStage')"></button>
          
      </div>
      <button style="float: right;margin-top: 10px;margin-bottom: 10px;" type="button" pButton  (click)="goBack()" label="返回"></button>
      <div style="clear:both">
          <p-table 
            [columns]="stageDetailTitle" 
            [value]="stageDetailValue" 
            columnResizeMode="expand"
            [style]="{'min-width':'1200px'}"
            [resizableColumns]="true" 
            [scrollable]="true" 
            scrollHeight="400px" 
          >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                    <th style="width:8%" pResizableColumn>序号</th>
                    <th *ngFor="let col of columns" pResizableColumn>
                        {{col.header}}
                    </th>
                    <th style="width:15%" pResizableColumn>操作</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                    <td style="width:8%">{{rowData.number}}</td>
                  <td *ngFor="let col of columns">
                      <span title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                      
                  </td>
                  <td style="width:15%">
                        <button pButton type="button" *ngIf = "modifyStageButton && buttonType" class="operation-icon"  (click)="setMining('modifyStage',rowData)" label="修改"></button>
                        <button pButton type="button" *ngIf = "deleteStageButton && buttonType" class="operation-icon"  (click)="setMining('deleteStage',rowData)" label="删除"></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
                <div style="text-align: right;">
                   共{{stageTotal}}条
                </div>
            </ng-template>
          </p-table>
          <p-paginator [hidden]="!stageTotal" [rows]="LIMIT_LOGIN"  [totalRecords]="stageTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'stage')"></p-paginator>
      </div>    
  </div>

  <!-- 年度监测报告 -->
  <div  style="clear: both;" class="p-table" [hidden]="!monitoringDetailDisplay">
      <div [hidden]="reportFileDisplay">
          <div class="ui-g-12 ui-md-4">
              <button pButton type="button" [hidden]="!addValidationButton ||! buttonType" label="新增" (click)="setMining('addMonitoring')"></button>
          </div>
          <button style="float: right;margin-top: 10px;margin-bottom: 10px;" type="button" pButton  (click)="goBack()" label="返回"></button>
          <div style="clear:both">
              <p-table 
                [columns]="monitoringTitle" 
                [value]="monitoringValue"
                columnResizeMode="expand"
                [style]="{'min-width':'1200px'}"
                [resizableColumns]="true" 
                [scrollable]="true" 
                scrollHeight="400px" 
              >
              <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width:8%" pResizableColumn>序号</th>
                    <th *ngFor="let col of columns" pResizableColumn>
                        {{col.header}}
                    </th>
                    <th style="width:15%" pResizableColumn>操作</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td style="width:8%">{{rowData.number}}</td>
                    <td *ngFor="let col of columns">
                        <span  title=" {{rowData[col.field]}}"> {{rowData[col.field]}}</span>
                        
                    </td>
                    <td style="width:15%">
                        <button pButton type="button" *ngIf = " modifyValidationButton && buttonType" class="operation-icon"  (click)="setMining('modifyMonitoring',rowData)" label="修改"></button>
                        <button pButton type="button" *ngIf = " deleteValidationButton && buttonType" class="operation-icon"  (click)="setMining('deleteMonitoring',rowData)" label="删除"></button>
                    </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                    <div style="text-align: right;">
                       共{{validationTotal}}条
                    </div>
                </ng-template>
              </p-table>
              <p-paginator [hidden]="!validationTotal" [rows]="LIMIT_LOGIN" [totalRecords]="validationTotal" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="pageChange($event,'validation')"></p-paginator>
          </div>    
      </div>
  </div>
<!-- 采矿权报告 -->
<app-report-file [reportCategory]="reportCategory" [explorationProject]="miningProject" [type]="'mining'" [buttonType]="buttonType"></app-report-file>

</div>

<div class="dialog-class textarea-style">
  <!-- 采矿权项目修改弹出框 -->
  <p-dialog header="{{miningTitle}}" [(visible)]="miningDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
          <form>
              <div class="form-group has-feedback">
                  <label class="control-label">项目名称</label>
                  <input  
                    type="text" 
                    style="width:700px !important"  
                    [(ngModel)]="miningProject.projectName" 
                    name="projectName"  
                    class="form-control"
                    maxlength = '100'
                  >
              </div>
              <div class="form-group has-feedback">
                <label class="control-label">矿权人</label>
                <div class="search">
                    <p-dropdown [options]="mineralOwner" [style]="{'width':'700px'}" name="ownerName" [(ngModel)]="miningProject.ownerId" placeholder="请选择一个矿权人" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label">项目定位区域</label>
                <button type="button" pButton (click)="viewMap()" label="查看"></button>
              </div>  
              <div class="form-group has-feedback">
                  <label class="control-label">采矿权首立时间</label>
                  <div>
                      <p-calendar 
                        [showIcon]="true" 
                        [(ngModel)]="miningStartTime" 
                        name="explorationStartTime" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" 
                        yearRange="1970:2030"
                        dateFormat="yy.mm.dd"
                      ></p-calendar>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">区域地质背景</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.areaGeologicBackground" 
                        name="areaGeologicBackground"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">地球物理及地球化学特性</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.geophysicalGeochemical" 
                        name="geophysicalGeochemical"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:地层</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.mineralGeologicalStratum" 
                        name="mineralGeologicalStratum"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:构造</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.mineralGeologicalStructure" 
                        name="mineralGeologicalStructure"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿区地质背景:岩浆岩</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.mineralGeologicalMagmatite" 
                        name="mineralGeologicalMagmatite"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带归属</label>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="uri" 
                    class="form-control" 
                    [(ngModel)]="miningProject.mineralBeltOwner" 
                    name="mineralBeltOwner"
                    maxlength = '200'
                  >
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">成矿带地质背景</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.mineralBeltGeologic" 
                        name="mineralBeltGeologic"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">围岩及蚀变</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.rockAlteration" 
                        name="rockAlteration"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">矿(化)体特征</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.mineralCharacteristics" 
                        name="mineralCharacteristics"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">主要成果</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.majorAchievement" 
                        name="majorAchievement"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">初步认识</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.preliminaryUnderstanding" 
                        name="preliminaryUnderstanding"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
              <div class="form-group has-feedback">
                  <label class="control-label">存在的问题以及下一步工作</label>
                  <div>
                      <textarea 
                        rows="5" 
                        cols="30" 
                        pInputTextarea 
                        [(ngModel)]="miningProject.remarks" 
                        name="remarks"
                        style="width:700px !important"
                        maxlength = '500'
                      ></textarea>
                  </div>    
              </div>
          </form>
          <p-footer>
              <button type="button" pButton (click)="saveMiningProject('save')" label="保存"></button>
              <button type="button" pButton  (click)="saveMiningProject('cancel')" label="取消" class="ui-button-secondary"></button>
          </p-footer>
  </p-dialog>

  <!-- 开采阶段弹出框 -->
  <p-dialog header="{{miningTitle}}" [(visible)]="stageDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
      <form>
          <div class="form-group has-feedback">
              <label class="control-label">矿权人</label>
              <div class="search">
                  <p-dropdown [options]="mineralOwner" name="ownerId" [style]="{'width':'700px'}" [(ngModel)]="miningStage.ownerId" placeholder="请选择一个矿权人" filter="true">
                      <ng-template let-car pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                              <div style="font-size:14px;float: left;;margin-top:4px">{{car.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">开始时间</label>
              <div>
                  <p-calendar 
                    [showIcon]="true" 
                    [(ngModel)]="stageStartTime" 
                    name="investigationStartTime" 
                    [monthNavigator]="true" 
                    [yearNavigator]="true" 
                    yearRange="1970:2030"
                    dateFormat="yy.mm.dd"
                  ></p-calendar>
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">结束时间</label>
              <div>
                  <p-calendar 
                    [showIcon]="true" 
                    [(ngModel)]="stageEndTime" 
                    name="investigationEndTime" 
                    [monthNavigator]="true" 
                    [yearNavigator]="true" 
                    yearRange="1970:2030"
                    dateFormat="yy.mm.dd"
                  ></p-calendar>
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">矿权范围</label>
              <div>
                  <textarea 
                    rows="5" 
                    cols="30" 
                    pInputTextarea 
                    [(ngModel)]="miningStage.projectArea" 
                    name="projectArea"
                    style="width:700px !important"
                    maxlength = '500'
                  ></textarea>
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">开采矿种</label>
              <div>
                  <textarea 
                    rows="5" 
                    cols="30" 
                    pInputTextarea 
                    [(ngModel)]="miningStage.miningMineralType" 
                    name="investigationOrganization"
                    style="width:700px !important;resize:none"
                    maxlength = '500'
                  ></textarea>
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">生产规模(吨/年)</label>
              <div>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="investigationCategory" 
                    class="form-control" 
                    [(ngModel)]="miningStage.miningProductionScale"
                    maxlength = '200'
                    onkeyup='this.value=this.value.replace(/[^\d.]/g,"").replace(/^\./g,"").replace(/\.{2,}/g,".")'
                    placeholder="只能输入整数或小数"
                  >
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">开采面积(平方公里)</label>
              <div>
                  <input 
                    id="miningArea"
                    type="text" 
                    style="width:700px !important" 
                    name="miningArea" 
                    class="form-control" 
                    [(ngModel)]="miningStage.miningArea"
                    maxlength = '200'
                    pInputText
                    onkeyup='this.value=this.value.replace(/[^\d.]/g,"").replace(/^\./g,"").replace(/\.{2,}/g,".")'
                    placeholder="只能输入整数或小数"
                  >
            
              </div>    
           
                
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">开采工作投入量</label>
              <div>
                  <input 
                    type="text" 
                    style="width:700px !important" 
                    name="miningWorkload" 
                    class="form-control" 
                    [(ngModel)]="miningStage.miningWorkload"
                    maxlength = '200'
                  >
              </div>    
          </div>
          <div class="form-group has-feedback">
              <label class="control-label">开采投入金额(万元)</label>
              <div>
                  <input 
                    type="text" 
                    style="width:700px 
                    !important" 
                    name="miningInvestment" 
                    class="form-control" 
                    [(ngModel)]="miningStage.miningInvestment"
                    maxlength = '200'
                    onkeyup='this.value=this.value.replace(/[^\d.]/g,"").replace(/^\./g,"").replace(/\.{2,}/g,".")'
                    placeholder="只能输入整数或小数"
                  >
              </div>    
          </div>
          
      </form>     
      <p-footer>
          <button type="button" pButton (click)="saveMiningStage()" label="保存"></button>
          <button type="button" pButton  (click)="stageDisplay = false" label="取消" class="ui-button-secondary"></button>
      </p-footer>   
  </p-dialog>

  <!-- 年度监测报告弹出框 -->
  <p-dialog header="{{miningTitle}}" [(visible)]="monitoringDisplay" [modal]="true" [responsive]="true" [style]="{width: '800px'}">
      
      <div class="form-group has-feedback">
          <label class="control-label">监测报告年份</label>
          <div>
              <p-calendar 
                [showIcon]="true" 
                [(ngModel)]="validationYear" 
                name="validationYear" 
                [monthNavigator]="true" 
                [yearNavigator]="true" 
                yearRange="1970:2030"
                dateFormat="yy"
              ></p-calendar>
          </div>    
      </div>
      <div class="form-group has-feedback">
          <label class="control-label">年度动用资源量(千吨)</label>
          <div>
            <textarea 
                rows="5" 
                cols="30" 
                pInputTextarea 
                [(ngModel)]="miningMonitoring.resourceUsed" 
                name="resourceUsed"
                style="width:700px !important"
                onkeyup='this.value=this.value.replace(/[^\d.]/g,"").replace(/^\./g,"").replace(/\.{2,}/g,".")'
                placeholder="只能输入整数或小数"
            ></textarea>
        </div>  
      </div>    
      <div class="form-group has-feedback">
          <label class="control-label">年末保有资源量(千吨)</label>
          <div>
              <textarea 
                rows="5" 
                cols="30" 
                pInputTextarea 
                [(ngModel)]="miningMonitoring.resourceMaintained" 
                name="resourceMaintained"
                style="width:700px !important"
                onkeyup='this.value=this.value.replace(/[^\d.]/g,"").replace(/^\./g,"").replace(/\.{2,}/g,".")'
                placeholder="只能输入整数或小数"
              ></textarea>
          </div>    
      </div>
      <div class="form-group has-feedback">
        <label class="control-label">执行情况</label>
        <div>
            <textarea 
                rows="5" 
                cols="30" 
                pInputTextarea 
                [(ngModel)]="miningMonitoring.executionStatus" 
                name="executionStatus"
                style="width:700px !important"
            ></textarea>
        </div>    
      </div>
      <div class="form-group has-feedback">
        <label class="control-label">监测过程发现的其它问题</label>
        <div>
            <textarea 
                rows="5" 
                cols="30" 
                pInputTextarea 
                [(ngModel)]="miningMonitoring.problemFound" 
                name="problemFound"
                style="width:700px !important"
            ></textarea>
        </div>    
      </div>
      <p-footer>
          <button type="button" pButton (click)="saveMiningMonitoring()" label="保存"></button>
          <button type="button" pButton  (click)="monitoringDisplay = false" label="取消" class="ui-button-secondary"></button>
      </p-footer>  
  </p-dialog>
  
</div>