.operation-icon{
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}

.control-label{
    color: #ffffff
}
.control-span{
    color: #fff;
    margin-left: 10px;
}
.pdfobject-container { height: 50rem; border: 1rem solid rgba(0,0,0,.1); }
#pdf {
    width: 800px;
    height: 800px;
    margin: 2em auto;
}
#pdf p {
padding: 1em;
}
#pdf object {
display: block;
border: solid 1px #123;
}

.text-style{
    width:700px !important
}

.dialog-class{
    background-color: red;
}

.line{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}